body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

h1 {
  color: #66BFBF;
  margin-top: 0;
  margin: 40px auto 0 auto;
  font-size: 90px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  margin: 0;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 39px;
  position: relative;
}

.middle-container {
  margin-bottom: 100px;
  position: relative;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.iOS {
   width: 25%;
   float: left;
   margin-right: 30px;
}

.macOS {
  width: 25%;
  float: right;
  margin-left:  30px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top : 10px;
  padding-top: 39px;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  width: 3%;
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  padding: 20px 0 30px 0;
  position: relative;
}

.pf {
  margin-bottom: 120px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


a {
  color: #046582;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #dbf6e9;
}

.copyright {
  padding: 10px 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.pbio {
  color: #2b2e4a;
  font-size: 1rem;
}
